## FAOFAST Data Set of Pakistan
#### All Data make Graph

In [ ]:
# import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data= pd.read_csv("FAOSTAT.csv")
data

In [ ]:
plt.figure(figsize=(9,6))
 
plt.bar(x=data['Item'],
 
        height=data['Value'])
 
plt.xticks(rotation=45)

In [ ]:
sns.set(style='whitegrid')
#Loading DataSets
sns.boxplot(x='Item Code', y='Year Code', hue="Element",data=data, color= "#c0ffee" )

In [ ]:
data.describe()

In [ ]:
# Dropping few columns and make new dataframe
data.drop(['Value'],axis=1)

In [37]:
data.mean()

C:\Users\User\AppData\Local\Temp/ipykernel_8596/531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Area Code          165.000000
Element Code      5157.000000
Year              1990.784884
Value           706439.558140
dtype: float64

In [38]:
data.value_counts("Area Code")

Area Code
165    172
dtype: int64

In [40]:
data.groupby("Area Code").mean()

           Element Code         Year         Value
Area Code
165              5157.0  1990.784884  706439.55814