# Python Ka Chilla With #Baba Aammar
## How To Use Jupyter Note Book
## Basic of Python

In [ ]:
#My Program 1st Program
print (2*9)
print("Hello World")
print("Hy Zeeshan!")

In [3]:
#program 2nd
print(2+9)
print(2-9)
print(2*9)
print(2/9)
print(2**9)
print(2//9)
print(2%9)
print(2**0.5)
print(2**0.25)
#PEMDAS
print(2+9*9/9-9)
print(2**9//9%9)

11
-7
18
0.2222222222222222
512
0
2
1.4142135623730951
1.189207115002721
2.0
2

In [4]:
#program 3rd
##String
print("Hello World")
print("Hello"+"Zeeshan")
print("Hello"*3)
print("Hello"+"World"*3)
print("Hello"*3+"World")
print("Hello"*3+"World"*3)
print("Hello"*3+"World"*3+"!")

Hello World
HelloZeeshan
HelloHelloHello
HelloWorldWorldWorld
HelloHelloHelloWorld
HelloHelloHelloWorldWorldWorld
HelloHelloHelloWorldWorldWorld!

In [5]:
#program 4th
#Comment In Python
# Commenting is done using #
# Commenting is done using """ """
# Ctrl + /
#program 5th
#Variables in Python
x = 10
y = 20
z = x+y
print(z)

30

In [6]:
# #type of variable
# print(type(x))
# print(type(y))

# #Rules to assign variable
# #1. Variable name must start with a letter or an underscore
# #2. Variable name is case sensitive
# #3. Variable name should not be a Python keyword
# #4. Variable name should be meaningful and descriptive

fruit = ('Apple',"Orange","Banana")
print(type(fruit))
print(fruit)

<class 'tuple'>
('Apple', 'Orange', 'Banana')

In [7]:
#program 6th
#Input in Python

fruit_basket =input("What is your Favourite ? ")
print(fruit_basket)

#input Function with 2nd stage
name = input("What is your name ? ")
greeting = "Hello"
print(greeting, name)

#another way to input
name = input("What is your name ? ")
print("Hello", name)

#another way to input
name = input("What is your name ? ")
age = input("What is your age ? ")
greeting = "Hello"
print(greeting, name, "you are", age)

What is your Favourite ? apple
apple
What is your name ? shani
Hello shani
What is your name ? shani
Hello shani
What is your name ? 25
What is your age ? 25
Hello 25 you are 25

In [8]:
#Program 7th
# Condition Logical Operation in Python
# equal to ==
# not equal to !=
# greater than >
# less than <
# greater than or equal to >=
# less than or equal to <=
# and
# or
# not
print(1==1)
print(1==2)
print(1!=2)
print(1>2)
print(1<2)
print(1>=2)
print(1<=2)
print(1==1 and 2==2)
print(1==1 or 2==2)
print(not(1==1))
print(not(1==2))

# Application of Logical Operator
imtanan = 4
age_at_school = 5
print(imtanan==age_at_school)

#input and Logical Operator
age_at_school = 5
imtanan = int(input("What is your age ? ")) #input function
print(imtanan==age_at_school) #Logical Operator

True
False
True
False
True
False
True
True
True
False
True
False
What is your age ? 25
False

In [9]:
#Program 8th
#Type Conversion in Python
# int()
# float()
# str()
# bool()
x = 10   #int
y = 20.5  #float
z = "Hello" #string
#implicit type conversion
x = x*y
print(type(x))

# explicit type conversion
age = float(input("What is your age ? "))
print(type(age))

<class 'float'>
What is your age ? 25
<class 'float'>

In [10]:
# Program 9th
# IF Else Elsif Else in Python
# if condition:
age_at_school = 5
imtanan = 6
# if condition:
if imtanan==age_at_school:
    print("You are in school")
elif imtanan>age_at_school:
    print("Cong! You are in school")
else:
    print("You are not in school")

Cong! You are in school

In [11]:
# Program 10th
# Functions in Python
# def function_name(parameter):
# def print_shani():
#     text ="I love my brother"
#     print(text)
#     print(text)
#     print(text)
  
#     print_shani()

# #2nd way to write function
def print_shani_2(text):
    print(text)
    print(text)
    print(text)
    print_shani_2("I love my brother")

# #3rd way to write function
def print_shani_3(text):
    print(text)
    print(text)
    print(text)
    print_shani_3("I love my brother")

In [12]:
#Program 11th
# defining a function with if else function
def  school_calculator(age_at_school,imtanan):
    if imtanan==age_at_school:
        print("You are in school")
    elif imtanan>age_at_school:
        print("Cong! You are in school")
    else:
        print("You are not in school")
school_calculator(4,2)


# Defining a function of Future
def future_age(age,year):
    new_age= age+20
    return new_age

future_prediction = future_age(14,2020)
print(future_prediction)

You are not in school
34

In [13]:
# Program 12th
# Loop in Python
# for loop
for i in range(150):
    print(i)

#while loop
i=0
while i<10:
    print(i)
    i=i+1

# Array in Python
fruits = ["Apple","Orange","Banana"]
for fruit in fruits:
    print(fruit)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
0
1
2
3
4
5
6
7
8
9
Apple
Orange
Banana

In [14]:
#Program 13th

# import Library in Python
import math
import statistics
print(math.sqrt(16))
print(math.pi)
print(math.sin(math.pi/2))


x=(150,250,350,450,550)
print(statistics.mean(x))
print(statistics.median(x))
print(statistics.mode(x))
print(statistics.variance(x))
print(statistics.stdev(x))

4.0
3.141592653589793
1.0
350
350
150
25000
158.11388300841898

In [ ]:
#program 14th
# Troubleshooting in Python
print(we are learning paython) #SyntaxError: invalid syntax
print("we are learning paython") #SyntaxError: invalid syntax
print(25/0) #ZeroDivisionError: division by 
#name = "Zeeshan"
print("Hello name"  + name)

#information about error
print(name)